#main button{
    font-family: "Microsoft YaHei";
}
#main .board_title{
    border: solid 1px #aeacaf;
    width: 100%;
    height: 200px;
    margin: 5px 0 5px 0;
}
#main .board_main{
    margin-top:7px;

}